body {
    background: linear-gradient(to left, yellow, red);
    text-align: center;
}

.txt {
    color: skyblue;
    box-shadow: 0 0 50px skyblue;
    border-radius: 5px;
    padding: 50px 50px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.txt h1 {
    font-size: 50px;
    font-weight: 1000;
}

.txt p {
    font-size: 20px;
}

.btn a {
    border-radius: 5px;
    padding: 2px 5px;
    color: white;
    text-decoration: none;
    background-color: black;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition-duration: 0.25s;
    color: skyblue;
    box-shadow: 0 0 50px skyblue;
}

.btn a:hover {
    font-size: 20px;
}